* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f7fa;
    color: #17202a;
}

button,
select {
    font-family: inherit;
}


/* ================= APP ================= */

.app {
    display: flex;
    min-height: 100vh;
}


/* ================= MAIN CONTENT SHELL ================= */

.main {
    margin-left: 270px;
    width: calc(100% - 270px);
    min-height: 100vh;
    padding: 0 18px;
}


/* ================= SIDEBAR ================= */

.sidebar {
    width: 270px;
    background: #071426;
    color: white;
    padding: 22px 16px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.brand {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px 8px 25px;
}

.brand-icon {
    font-size: 42px;
}

.brand h2 {
    font-size: 17px;
    margin-bottom: 5px;
}

.brand p {
    color: #b8c2cf;
    font-size: 12px;
    line-height: 1.5;
}


/* ================= MENU ================= */

.menu {
    border-bottom: 1px solid #293544;
    padding-bottom: 20px;
}

.menu-item {
    width: 100%;
    border: none;
    background: transparent;
    color: #d4dbe3;
    padding: 13px 14px;
    margin-bottom: 4px;
    text-align: left;
    border-radius: 7px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    gap: 14px;
    align-items: center;
}

.menu-item span {
    width: 20px;
    font-size: 18px;
}

.menu-item:hover,
.menu-item.active {
    background: #155b3a;
    color: #75e39b;
}
